$color-first: #171736;
$color-second: #1b1b30;
$color-third: #10101a;
$color-fourth: #2b2b3f;
$color-open: #303064;
$color-disabled: #15151d;
$color-danger: #943838;
$color-success: #51c957;
$color-warning: #c9c935;
$color-first-border: #34346d;
$color-second-border: #28285a;
$color-third-border: #222231;
$color-fourth-border: #50505c;
$color-danger-border: #6d3434;
$color-success-border: #346d3c;
$color-open-border: #7878d4;
$color-selected: #51518a;
$color-border-light: white;
$color-highlight: #4ad9fd;
$color-metar-visibility-lowest: magenta;
$color-metar-visibility-low: red;
$color-metar-visibility-medium: orange;
$color-metar-visibility-high: yellow;
$color-metar-visibility-highest: #83ff89;
$color-taf-visibility-lowest: magenta;
$color-taf-visibility-low: red;
$color-taf-visibility-medium: orange;
$color-taf-visibility-high: #83ff89;
$color-metar-ceiling-lowest: red;
$color-metar-ceiling-low: orange;
$color-metar-ceiling-medium: yellow;
$color-metar-ceiling-high: #83ff89;
$color-taf-ceiling-lowest: magenta;
$color-taf-ceiling-low: red;
$color-taf-ceiling-medium: orange;
$color-taf-ceiling-high: yellow;
$color-taf-ceiling-highest: #83ff89;
$color-convective-warning: yellow;
$color-convective-danger: red;
$color-background: #090913;
$color-header: #080829;
$color-search: #d3d368;

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow: hidden;
  width: 100%;
  background: $color-background;

  * {
    box-sizing: border-box;
  }
}

img {
  &.loading {
    animation: loading-pulse 1s ease-in-out infinite;
    transform-origin: center;
  }
}

@keyframes loading-pulse {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(1.10);
  }

  66% {
    transform: scale(0.90);
  }
}

.message-row {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.message {
  white-space: pre-line;
  font-style: italic;
  font-weight: 600;
  font-size: 0.8rem;

  &.operational-hours {
    line-height: normal;
    color: $color-highlight;
    margin-bottom: 0.5rem;
  }

  &.info {
    font-style: normal;
    font-size: 1rem;
    padding: 0.5rem;
  }

  &.warning {
    color: $color-warning;
  }
}

.aerodromes-container,
.search-container,
.sign-in-container,
.sign-out-container,
.renders-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.aerodromes-container {
  padding: 1rem 0 1rem 0;

  &.split {
    flex-direction: row;
  }
}

.renders-container {
  padding: 0 1rem 0 1rem;
  gap: 1rem;

  &.split {
    width: 50%;
    padding-left: 0;
    padding-right: 0
  }

  &.split:first-of-type {
    scrollbar-gutter: stable both-edges;
  }

  &.split:nth-of-type(2) {
    scrollbar-gutter: stable;
  }
}

.search-container {
  padding: 1rem;
}

.sign-in-container,
.sign-out-container {
  padding: 1rem;
  align-items: center;
}

.sticky {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border-bottom: 1px solid;
  width: 100%;
  padding: 0;

  button {
    flex: 1 1 0;
    border-radius: 0;

    &:hover {
      border-radius: 0;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a,
input,
button,
fieldset {
  font: inherit;
  padding: 0.5rem;
  background: $color-second;
  border: 1px solid $color-first-border;
  border-radius: 0.3rem;

  &.open {
    background: $color-open;
    border-color: $color-open-border;
  }

  &.btn-highlight,
  &.btn-delete,
  &.btn-refetch,
  &.btn-search,
  &.btn-aerodromes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
  }

  &:hover {
    border-radius: 0.5rem;
    background: $color-second-border;
  }

  &:disabled {
    background: $color-disabled;
  }

  &.btn-refetch,
  &.btn-search {
    &.loading {
      background-color: rgba($color-warning, 0.3);
    }
  }
}

h4 {
  text-align: start;
}

h2 {
  font-style: italic;
  margin: 0;
}

.app-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  .app-header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem;
    width: 100%;
    background: $color-first;
    border-bottom: 2px solid $color-first-border;
    background: $color-header;

    &.top {
      display: grid;
      grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);

      .top-buttons {
        display: flex;
        padding: 0 0.5rem;
        gap: 0.5rem;
        width: 100%;

        &.left {
          justify-content: flex-start;
        }

        &.right {
          justify-content: flex-end;
        }
      }
    }

    &.config {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: stretch;
      overflow-y: auto;
      padding: 0.5rem;
      max-height: 50vh;

      @media (max-width: 500px),
      (max-height: 500px) {
        max-height: 30vh;
      }

      fieldset {
        background: $color-second;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 0.5rem;

  .form-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .form-datetime {
      display: inherit;
      gap: inherit;
      flex: 1 1 0;
      align-items: center;
      border-bottom: 1px solid $color-first-border;
      padding: 0.2rem;
      background: $color-third;

      input[type="date"],
      input[type="time"] {
        padding: 0 0.2rem;
        flex: 1 1 0;
        min-width: 0;
        user-select: none;
      }

      .btn-clear {
        padding: 0 0.5rem;
      }
    }

    &.highlights-row {
      flex-direction: column;
    }

    fieldset {
      display: grid;
      grid-template-columns: 5rem minmax(0, 1fr);
      flex-grow: 1;
      align-items: stretch;
      gap: 1rem;
      user-select: none;

      &:hover {
        border-radius: 0.3rem;
        background: $color-first;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .options {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-width: 0;

        label {
          padding: 0 1rem 0 1rem;
          border-right: 1px solid $color-first-border;

          &.toggle-all {
            font-weight: 800;
          }

          &:hover {
            background: $color-second-border;
          }
        }
      }

      @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        align-items: center;

        .options {
          flex-direction: row;
          align-items: start;
          width: 100%;
          max-height: 6rem;
          overflow-y: auto;
          padding: 0 0.5rem 0 0.5rem;

          label {
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 2rem;
            border-top: 1px solid $color-first-border;
            padding-right: 0;
            border-right: 0;
          }
        }
      }
    }

    >* {
      flex: 1 1 0;
      min-width: 0;
    }
  }
}

.expand {
  display: grid;
  grid-template-rows: 0fr;
  visibility: hidden;
  transition:
    grid-template-rows 250ms ease,
    visibility 0s 250ms;

  &.open {
    grid-template-rows: var(--expand-rows);
    visibility: visible;
    transition-delay: 0s;
  }

  >.expand-content {
    min-height: 0;
    overflow: hidden;
  }
}

.aerodrome-render-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border-light;
  border-top: 0;
  border-radius: 0.5rem;
  overflow: clip;
  background: $color-background;
  width: 100%;

  .aerodrome-header-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $color-border-light;

    .aerodrome-operational-hours {
      padding-top: 0.5rem;
      background: $color-third;
      border-bottom: 1px solid $color-first-border;
    }

    .aerodrome-header-search {
      display: flex;
      flex-direction: column;
      max-height: 40vh;
      overflow-y: auto;

      .btn-search-item {
        display: grid;
        background: $color-third;
        border-radius: 0;
        border-color: $color-third-border;
        border-top: 0;
        grid-template-columns: 5rem 1fr;
        width: 100%;
        text-align: left;

        &+& {
          border-top: 1px solid $color-third-border;
        }

        &.open {
          background: $color-open;
        }
      }
    }

    .aerodrome-header-buttons {
      display: flex;
      border-radius: 0;

      .aerodrome-header-icao {
        font: inherit;
        padding: 0.5rem;
        background: $color-first;
        border: 0;
        user-select: none;
      }

      .aerodrome-header-icao,
      .input-search,
      .btn-notam,
      .btn-taf-metar,
      .btn-date,
      .btn-operational-hours {
        flex: 1 1 0;
        border-radius: 0;
        text-align: center;

        h4 {
          flex: 1 1 100%;
          margin: 0;
          text-align: center;
          height: 100%;
          font-size: 0.8rem;
        }
      }

      .aerodrome-header-icao>h4 {
        font-size: 1.5rem;
      }

      .btn-delete,
      .btn-refetch,
      .btn-search {
        border: 0;
        border-radius: 0;
      }

      .btn-delete {
        border-top-left-radius: 0.5rem;
      }

      .btn-refetch {
        border-top-right-radius: 0.5rem;
      }

      .aerodrome-header-icao,
      .btn-refetch,
      .btn-search {
        border-left: 1px solid $color-first-border;
      }
    }
  }

  .aerodrome-report-container,
  .aerodrome-notam-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem 0.5rem 1rem;

    .aerodrome-report-type {
      min-width: 4rem;
      text-align: start;
    }

    .aerodrome-report-icao {
      min-width: 3rem;
      text-align: start;
    }

    .aerodrome-report-codes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    pre {
      margin: 0;
      font-size: 1rem;
      text-align: start;
      white-space: pre-wrap;

      .highlight-operational-hours-twr,
      .highlight-operational-hours-afis,
      .highlight-operational-hours-aerodrome,
      .highlight-operational-hours-approach-control,
      .highlight-operational-hours-fuel,
      .highlight-snowtam,
      .highlight-runway,
      .highlight-taxiway,
      .highlight-airspace-activity,
      .highlight-obstacles,
      .highlight-obstruction-lights,
      .highlight-restricted-prohibited-danger,
      .highlight-sid-star,
      .highlight-approach-procedure,
      .highlight-operating-minima {
        color: $color-highlight;
      }

      .highlight-wind {
        color: $color-highlight;
      }

      .highlight-visibility {
        color: $color-highlight;

        &.metar-visibility-lowest {
          color: $color-metar-visibility-lowest;
        }

        &.metar-visibility-low {
          color: $color-metar-visibility-low;
        }

        &.metar-visibility-medium {
          color: $color-metar-visibility-medium;
        }

        &.metar-visibility-high {
          color: $color-metar-visibility-high;
        }

        &.metar-visibility-highest {
          color: $color-metar-visibility-highest;
        }

        &.taf-visibility-lowest {
          color: $color-taf-visibility-lowest;
        }

        &.taf-visibility-low {
          color: $color-taf-visibility-low;
        }

        &.taf-visibility-medium {
          color: $color-taf-visibility-medium;
        }

        &.taf-visibility-high {
          color: $color-taf-visibility-high;
        }
      }

      .highlight-weather {
        color: $color-highlight;
      }

      .highlight-forecast-changes {
        color: $color-highlight;
      }

      .highlight-temperature {
        color: $color-highlight;
      }

      .highlight-altimeter {
        color: $color-highlight;
      }

      .highlight-clouds {
        color: $color-highlight;
      }

      .highlight-ceiling {
        color: $color-highlight;

        &.metar-ceiling-lowest {
          color: $color-metar-ceiling-lowest;
        }

        &.metar-ceiling-low {
          color: $color-metar-ceiling-low;
        }

        &.metar-ceiling-medium {
          color: $color-metar-ceiling-medium;
        }

        &.metar-ceiling-high {
          color: $color-metar-ceiling-high;
        }

        &.taf-ceiling-lowest {
          color: $color-taf-ceiling-lowest;
        }

        &.taf-ceiling-low {
          color: $color-taf-ceiling-low;
        }

        &.taf-ceiling-medium {
          color: $color-taf-ceiling-medium;
        }

        &.taf-ceiling-high {
          color: $color-taf-ceiling-high;
        }

        &.taf-ceiling-highest {
          color: $color-taf-ceiling-highest;
        }
      }

      .highlight-convective {
        color: $color-highlight;

        &.convective-warning {
          color: $color-convective-warning;
        }

        &.convective-danger {
          color: $color-convective-danger;
        }
      }

      .highlight-wind-shear {
        color: $color-highlight;
      }
    }
  }
}