.page {
  margin: 40px auto;
  max-width: 720px;
  padding: 0 16px;
}

form {
  &.flight-path {
    display: flex;
    flex-direction: column;

    .form-row {
      display: flex;
      flex-direction: row;
      gap: 5px;
      margin-bottom: 12px;
    }
  }
}

input,
button {
  font: inherit;
  padding: 8px;
}

pre {
  text-align: start;
  white-space: pre-wrap;
}